html, body {
    background-color: #333333;
    color: #FFF;
  }
  canvas {
    display: block;
  }

  p {
    color: lightcyan;
  }
  
  main {
    background-color: black;
  }

  .myBold {
    font-weight: bold;
    color: yellow;
  }

  .pic {
    border-width: 5px;
    border-color: red;
    border-style: solid;
  }